.wrapper {
    display: block;
    margin-left: 315px;
}

.item {
    display: block;
    padding: 34px 0 34px 34px;
    border-bottom: 1px solid #e3e3e4;
    margin-left: 60px;
}

.header {
    display: flex;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.item-text {
    max-width: 450px;
}

.item-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nickname {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(22, 24, 35);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.check {
    font-size: 1.5rem;
    color: #20d5ec;
    margin-left: 6px;
    margin-right: 6px;
}

.fullname {
    color: #555;
    font-size: 1.2rem;
    font-weight: 400;
}

.content {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(22, 24, 35);
    margin-bottom: 10px;
    cursor: pointer;
}

.hashtag {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-left: 5px;

    &:hover {
        text-decoration: underline;
    }
}

.music {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(22, 24, 35);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.icon {
    margin-right: 5px;
    font-size: 0.8rem;
}

.item-video {
    margin-top: 20px;
    margin-left: 65px;
    video {
        width: 350px;
        border-radius: 10px;
    }
}

.btn {
    width: 80px;
    height: 28px;
    margin-top: 10px;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(254, 44, 85);
    border: 1px solid rgb(254, 44, 85);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(167, 167, 167, 0.185);
    }
}

.botton-item {
    display: flex;
}

.item-icon {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;
    .icon-text {
        margin: 10px 0 0 20px;
        text-align: center;
        .icon {
            background-color: rgba(22, 24, 35, 0.06);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 15px;
        }
        .text {
            font-size: 12px;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.75);
        }
    }
}
