.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}

.login-btn {
    position: relative;
}

.login-form {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 300%;
    left: 40%;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 20px rgba(56, 56, 56, 0.89);
    text-align: center;
    padding: 30px;
}

.quit-btn {
    margin-left: 260px;
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
}

.login-form-header {
    color: rgb(22, 24, 35);
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 20px;
}

.email-login-form {
    padding: 20px;
    label {
        color: #555;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: -260px;
    }

    input {
        width: 300px;
        height: 40px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(22, 24, 35);
        outline: none;
        border: 1px solid rgba(22, 24, 35, 0.12);
        padding: 5px;
    }
}

.password-login-form {
    padding-bottom: 20px;
    label {
        color: #555;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: -234px;
    }

    input {
        width: 300px;
        height: 40px;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(22, 24, 35);
        outline: none;
        border: 1px solid rgba(22, 24, 35, 0.12);
        padding: 5px;
    }
}

.button-login-form {
    width: 300px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
.button-login-form:hover {
    background-color: rgb(223, 42, 42);
}

.sigh-btn {
    background-color: transparent;
    margin-top: 20px;
}

.sighin-quit-btn {
    position: absolute;
    margin-top: 190px;
    background-color: transparent;
    left: 41%;
    z-index: 1;
}

.alert-login-form {
    padding-top: 20px;
    color: rgb(223, 42, 42);
}
